#popup{
    position: fixed;
    background-color: white;
    text-align: center;
    padding: 15px;
    line-height: 1.8;
    z-index: 1000000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #f1f1f1;
    max-width: 600px;
    max-height: 600px;
    display: none;
}

/* 원래는 display:none 이라 안보이는데 부모 클래스 .popupshow 적용되면 나타난다*/
.popupshow #popup{
    display: block;
}
/* 딤처리 */
.popupshow::before{
    content: "";
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.6);
}