#popup{
    position: fixed;
    background-color: white;
    text-align: center;
    padding: 15px;
    line-height: 1.8;
    z-index: 1000000;
    border: 1px solid #f1f1f1;
    display: none;
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);
    box-sizing: border-box;


    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    /* 최대사이즈 */
    max-width: 600px;
    max-height: 600px;

    /* 가변 사이즈 */
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);

    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    
}

/* 원래는 display:none 이라 안보이는데 부모 클래스 .popupshow 적용되면 나타난다*/
.popupshow #popup{
    display: block;
}
/* 딤처리 */
.popupshow::before{
    content: "";
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.6);
}

/* 팝업 노출되었을때는 body 스크롤 안되게 처리 */
.popupshow{
    overflow-y: hidden;
}

/* 팝업 닫기 버튼 스타일 가상선택자로 처리하기 */
#popup button{
    position: absolute;
    right: 0;
    bottom: calc(100% - 0.5rem);
    background-color: transparent;
    width: 2rem; height: 2rem;
    border: 0;
    cursor: pointer;
    font-size: 0;
}
#popup button:before,
#popup button:after{
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    position: absolute;
}
#popup button:before{
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(-45deg);
}
#popup button:after{
    top: 0;
    left: 0;
    right: 0;
    transform: rotate(45deg);
}

#faq {
    max-width: 800px;
    margin: 50px auto;
}
#faq dt{
    border-bottom: 1px solid #222;
    line-height: 2;
    font-size: 1.5em;
    text-indent: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#faq dt:after{
    content: "▼";
}
#faq dt:hover{
    color: red;
}
#faq dt:hover:after{
    content: "▲";
}
#faq dd{
    background-color: #ccc;
    /* padding: 15px; */
    /* min-height: 180px; */
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
}
#faq dt:hover + dd{
    max-height: 400px;
}
#faq dd div{ padding: 15px; }